/* refresh */
* {
  margin: 0;
  font-size: 24px;
  max-width: 100%;
  scroll-behavior: smooth;
}

/* global rules */

body {
  font-family: 'EB Garamond', Baskerville, serif;
  background: Azure;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.0rem;
  color: DarkSlateGray
}

h1, h2, h3 {
  color: DarkSlateGray;
}


/* image rules */

.image-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 10.0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  .image-container {
    flex-direction: column;
    justify-content: center;
  }
}

/* nav bar */

nav {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: Azure;
  width: 100%;
  height: 3rem;
  z-index: 100;
}

.nav-links {
  display: inline-flex;
  justify-content: flex-end;
}

nav a {
  display: inline-flex;
  color: DarkSlateGray;
  font-size: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 1.0rem;
  text-decoration: none;
  transition: 1s;
}

nav a:hover {
  color: FireBrick;
}

p#logo a {
  font-family: 'DM Serif Display', Georgia, serif;
  color: DarkSlateGray;
  padding-top: 1.0rem;
  padding-left: 1.0rem;
  transition: 1s;
}

p#logo a:hover {
  color: FireBrick;
}

/* header */

.header {
  display: flex;
  position: relative;
  padding-top: 3.0rem;
}

.header h1 {
  color: DarkSlateGray;
  font-family: Baskerville;
  font-size: 2.5rem;
  font-weight: 200;
  max-width: 60%;
  padding-top: 7.0rem;
  padding-left: 4.0rem;
}

.header h1 em {
  color: DarkSlateGray;
  font-size: 2.5rem;
}

/* projects */

h2#projects {
  font-size: 2.0rem;
  font-weight: 200;
  padding: 4.0rem 0 2.0rem 4.0rem;
}

.projects figure {
  display: grid;
  max-width: 80%;
  padding-left: 4.0rem;
  padding-bottom: 2.0rem;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  grid-column-gap: 2.0rem;
  grid-template-areas: "title description"
                      "date description"
}

.projects h3.title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 100;
}

.projects p.description {
  grid-area: description;
}

.projects p.date {
  grid-area: date;
  font-size: 0.8rem;
  align-self: start;
}

/* footer */

footer {
  width: 100%;
  background-color: CadetBlue;
  height: 2.0rem;
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
}

footer p {
  color: azure;
  font-size: 0.75rem;
  padding-left: 1.0rem

}
