/* global rules */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0 0;
  font-size: 20px;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

p {
  line-height: 1.5rem;
}

p, h2, h3, h4, h5 {
  color: #4a4a4a;
}

h2 {
  font-size: 2.0rem;
}

a {
  color: #36B6EE
}

/* navbar */

nav {
  position: fixed;
  background: white;
  z-index: 5;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: gainsboro solid 1px;
  width: 100%;
}

@media (min-width: 800px) {

  nav .nav-logo {
    height: 1.6rem;
    padding-left: 1.2rem;
    display: inline-flex;
    justify-content: flex-start;
  }

  nav h1.navbar {
    color: #b2b2b2;
    font-size: 1.2rem;
  }

  nav h1 strong {
    color: #4a4a4a;
    font-size: 1.2rem;
  }

  .navbar-links {
    padding-right: 1.2rem;
    display: inline-flex;
    justify-content: flex-end;
  }

  nav a {
    color: #4a4a4a;
    padding-left: 16px;
  }

  nav a:hover {
    color: #36B6EE;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 800px) {

  .nav-logo {
    display: none;
  }

  nav h1.navbar {
    display: none;
  }

  .navbar-links {
    display: none;
  }

  .mobile-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    height: 64px;
  }

}

/* hero */

header {
  background: #D8D8D8;
  display: flex;
  color: #4a4a4a;
  position: relative;
  padding-top: 64px;
}

.hero-text h2 {
  font-size: 3.0rem;
  padding-bottom: 1.0rem;
  padding-right: 1.0rem;
}

.hero-text p {
  font-size: 1.5rem;
  padding-bottom: 2.0rem;
}

.hero-text button {
  background-color: #4a4a4a;
  color: gainsboro;
  border-radius: 5px;
  border: none;
  padding: 8px 2.0rem 8px 2.0rem;
  align-self: center;
}

@media (min-width: 800px) {

  header img {
    padding: 32px 24px;
    max-width: 60%;
    max-height: auto;
  }

  .hero-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
  }

}

@media (max-width: 800px) {

  header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.6rem;
  }

  header img {
    width: 100%;
    padding-bottom: 1.6rem;
  }

  .hero-text {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-align: center;
  }
}

/* information */

.information {
  display: flex;
  position: relative;
  width: 100%;
}

.information .right h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.information .right p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.information .right a:hover {
  color: #4a4a4a;
}

.information .right figure:hover {
  background: #D8D8D8;
}


@media (min-width: 800px) {

  .information .left {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1.6rem 1.2rem 1.6rem 1.2rem;

  }

  .information .left img {
    width: auto;
  }

  .information .left h2 {
    padding-left: 1.2rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
    font-size: 2.0rem;
    color: #4a4a4a;
    font-weight: bold;
  }

  .information .left p {
    padding-left: 1.2rem;

  }

  .information .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem 1.2rem 1.6rem 1.2rem;
    border: 1px solid gainsboro;
  }

  .information .right figure {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0 1.2rem 0;
    border-top: 1px solid gainsboro;
  }

  .information .right .desktop-info-img {
    height: auto;
    width: 35%;
    padding-right: 1.2rem;
  }

  .information .right .mobile-info-img {
    display: none;
  }

}

@media (max-width: 800px) {

  .information {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .information .left {
    display: none;
  }

  .information .right .desktop-info-img {
    display: none;
  }

  .information figure {
    max-width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .information .right .mobile-info-img {
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  }

  .information h3, p, a {
    padding-left: 1.6rem;
  }
}

@media (max-width: 600px) {
  .information img {
    display: none;
  }
}

/* courses */

.courses {
  display: flex;
  background: #D8D8D8;
  justify-content: center;
  flex-direction: column;
}

.courses figcaption {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.6rem;
}

.courses h2 {
  padding: 1.6rem 0 1.6rem 0;
  text-align: center;
}

.courses h3 {
  padding-top: 0.8rem;
}

.courses h4 {
  text-transform: uppercase;
  font-weight: 200;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

figure {
  background: white;
}

@media (min-width: 800px) {

  .courses .courses-grid {
    display: grid;
    max-width: 100%;
    padding: 0 3.6rem 3.6rem 3.6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-areas: "one two three"
                          "four five six";
  }

  .courses .courses-grid img {
    max-width: 100%;
  }

  figure .software {
    grid-area: one;
  }

  figure .art {
    grid-area: two;
  }

  figure .design {
    grid-area: three;
  }

  figure .data {
    grid-area: four;
  }

  figure .business {
    grid-area: five;
  }

  figure .marketing {
    grid-area: six;
  }
}

@media (max-width: 800px) {

  .courses {
    background: white;
  }

  .courses figcaption {
    padding: 0 0 0 0;
  }

  .courses img {
    display: none;
  }

  .courses p, h4 {
    display: none;
  }

  .courses figure h3 {
    border-radius: 5px;
    background: #D8D8D8;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    margin: 0.4rem;
    text-align: center;
  }
}

/* thesis exhibit */

h2#exhibit {
  text-align: center;
  padding: 1.6rem 0 2.2rem 0;
}

.exhibit .video-left p {
  padding-top: 0.4rem;
  padding-bottom: 1.6rem;
}

@media (min-width: 800px) {

  .exhibit {
    display: flex;
  }

  .exhibit .video-left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding-left: 1.2rem;
  }

  .exhibit .video-left video {
    padding-bottom: 1.2rem;
    max-width: 100%;
    max-height: auto;
  }

  .exhibit .exhibit-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 1.2rem 1.6rem 1.2rem;
  }

  .exhibit .exhibit-right img {
    padding: 0.8rem;
    max-width: 35%;
    max-height: auto;
  }

  .exhibit .exhibit-right figure {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0 1.2rem 0;
    border-top: 1px solid gainsboro;
  }

  .exhibit .exhibit-right figure:hover {
    background: #D8D8D8;
  }
}

@media (max-width: 800px) {

  .exhibit .video-left video {
    max-width: 100%;
    max-height: auto;
  }

  .exhibit .video-left h3, p {
    padding: 0.5rem;
  }

  .exhibit .exhibit-right figure {
    display: none;
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  height: 3.0rem;
  font-size: 0.8rem;
}

footer .footer-left {
  padding-left: 2.0rem;
  font-size: 0.8rem;
}

footer .footer-link-container {
  padding-right: 2.0rem;
}

footer .footer-links {
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  footer .footer-link-container {
    display: none;
  }
}
